{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}

{% block title %}{% trans "Swap Request Statistics" %}{% endblock %}

{% block content %}
    <h1>{% trans "Swap Request Statistics" %}</h1>

    <h2>{% trans "Approve cancelations" %}</h2>
    <div class="alert alert-info">
        <p>
        {% blocktrans trimmed %}
        With this table, you can see how many users currently want to cancel their orders, and if there are matching orders waiting for approval.
        You can approve orders (as long as your quotas permit it).
        {% endblocktrans %}
        </p>
        <p>
        {% blocktrans trimmed %}
        When you approve orders, the waiting customers are sent an email that their order is now <i>pending</i> and that they need to pay.
        Only once they have paid, a matching order waiting to cancel will be canceled.
        {% endblocktrans %}
        </p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-hover table-quotas">
                <thead>
                <tr>
                    <th></th>
                    {% for subevent in subevents %}
                        <th class="text-right">{% trans "Available in quota" %} {% if subevent %}<br>{{ subevent.name }}{% endif %}</th>
                    {% endfor %}
                    <th class="text-right">{% trans "Orders waiting for approval" %}</th>
                    <th class="text-right">{% trans "Orders waiting for payment" %}</th>
                    <th class="text-right">{% trans "Cancelation requests" %}</th>
                    <th class="text-right">{% trans "Approve orders" %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for product in by_products %}
                    <tr>
                        <th>
                            <a href="{% eventurl request.event "control:event.item" organizer=request.organizer.slug event=request.event.slug item=product.item.id %}">
                            {{ product.item }}
                            </a>
                        </th>
                        {% for avail in product.available_in_quota %}
                            <td class="text-right">{{ avail }}</td>
                        {% endfor %}
                        <td class="text-right">{{ product.approval_orders }}</td>
                        <td class="text-right">{{ product.pending_orders }}</td>
                        <td class="text-right">{{ product.open_cancelation_requests }}</td>
                        <td class="text-right">
                            {% if product.form_field %}{% bootstrap_field product.form_field layout="inline" %}{% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td>{% trans "There are currently no open requests." %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Approve orders" %}
            </button>
        </div>
    </form>
    <p></p>
    <hr>
    <p></p>
    <h2>{% trans "Request overview" %}</h2>
    <div class="table-responsive">
        <table class="table table-hover table-quotas">
            <thead>
            <tr>
                <th>{% trans "Product" %}</th>
                <th class="text-right">{% trans "Waiting swaps" %}</th>
                <th class="text-right">{% trans "Completed swaps" %}</th>
                <th class="text-right">{% trans "Waiting cancelations" %}</th>
                <th class="text-right">{% trans "Completed cancelations" %}</th>
            </tr>
            </thead>
            <tbody>
                {% for line in overview %}
                <tr>
                    <td>
                    <a href="{% eventurl request.event "control:event.item" organizer=request.organizer.slug event=request.event.slug item=line.item.id %}">
                    {{ line.item }}
                    </a>
                    </td>
                    <td class="text-right">{{ line.open_swap_requests }}</td>
                    <td class="text-right">{{ line.completed_swap_requests }}</td>
                    <td class="text-right">{{ line.open_cancelation_requests }}</td>
                    <td class="text-right">{{ line.completed_cancelation_requests }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

