{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}
{% load money %}

{% block title %}{% trans "Cancel request" %}{% endblock %}
{% block content %}
    <h2>
        {% blocktrans trimmed with code=order.code %}
            Cancel request for your order: {{ code }}
        {% endblocktrans %}
        {% if order.testmode %}
            <span class="label label-warning">{% trans "TEST MODE" %}</span>
        {% endif %}
        <a href="{% eventurl event "presale:event.order" secret=order.secret order=order.code %}"
                class="btn btn-default">
            {% trans "Back to order" %}
        </a>
        {% include "pretixpresale/event/fragment_order_status.html" with order=order event=request.event class="pull-right flip" %}
        <div class="clearfix"></div>
    </h2>
    <form method="post">{% csrf_token %}
        {% if obj.swap_type == "s" %}
        {% trans "You requested to swap this order item with somebody else." %}
        {% else %}
        {% trans "You requested to cancel this order item and give your place to somebody else." %}
        {% endif %}
        {% blocktrans trimmed %}Do you really want to cancel this request?{% endblocktrans %}
    <div class="col-md-12">
    <a href="{% eventurl event "presale:event.order" secret=order.secret order=order.code %}"
            class="btn btn-default col-md-4">
        {% trans "No, take me back" %}
    </a>
    <span class="col-md-4"></span>
    <button type="submit" class="btn btn-primary col-md-4">{% trans "Yes, cancel request" %}</button>
    </div>
    </form>
{% endblock %}


