{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}
{% load static %}

{% block title %}{% trans "New swap request" %}{% endblock %}
{% block content %}
    <h2>
        {% blocktrans trimmed with code=order.code %}
            New swap request for your order: {{ code }}
        {% endblocktrans %}
        {% if order.testmode %}
            <span class="label label-warning">{% trans "TEST MODE" %}</span>
        {% endif %}
        <a href="{% eventurl event "presale:event.order" secret=order.secret order=order.code %}"
                class="btn btn-default">
            {% trans "Back to order" %}
        </a>
        {% include "pretixpresale/event/fragment_order_status.html" with order=order event=request.event class="pull-right flip" %}
        <div class="clearfix"></div>
    </h2>
    <form method="post">{% csrf_token %}
    {% bootstrap_field form.position %}
    {% for field in form.position_fields %}
        {% bootstrap_field field %}
    {% endfor %}
    {% bootstrap_field form.swap_type %}
    {% if form.swap_method %}
        {% bootstrap_field form.swap_method %}
    {% endif %}
    {% if form.swap_code %}
        {% bootstrap_field form.swap_code %}
    {% endif %}
    {% if form.cancel_code %}
        {% bootstrap_field form.cancel_code %}
    {% endif %}
    <button type="submit" class="btn btn-primary btn-block">{% trans "Send request" %}</button>
    </form>
    <script src="{% static "pretix_swap/swap.js" %}"></script>
{% endblock %}

